body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.formula-list {
  display: flex;
  flex-direction: column;
}

.formula-list div {
  margin-bottom: 10px;
}

.formula-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
